<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>About Us</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About Us</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <section>
        <h2>Inspire Schools Associated with Aspire Group of Colleges </h2>
        <p>Our school aim for providing excellent education to students.</p>
        <p>Our Head Of School is Rana M.Luqman associated with Aspire Group of Colleges.</p>
        <img src="/images/school.jpeg" alt="History Image">
    </section>
    <footer>
        <p>&copy; 2024 Our School. All Rights Reserved.</p>
    </footer>
</body>
</html>
